body {
  height: 100vh;
  background-color: rgb(0, 10, 85);
  display: grid;
  place-items: center;
}

h1, p {
  background-color: white;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 10px;
}